body{
    width: 100%;
}

.encabezado{
    border-width:4px;
    border-style:solid;
    border-color:red;
}

.contenido{
    border-width:4px;
    border-style:solid;
    border-color:red;
}

.pie{
    border-width:4px;
    border-style:solid;
    border-color:red;
}

.lineain{
    border-width:4px;
    border-style:solid;
    border-color:yellow;   
}

