@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 34vw;
    margin: auto;
}

#titulo{
    color: rgb(3, 135, 135);
}

.encabezado{
    border-width:4px;
    margin: 1px;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
}

.cajaRoja{
    border-width:4px;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
}

.pie{
    border-width:3px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    margin: auto;
}

.lineainheader{
    border-width:4px;
    width: 100%; 
    margin: 5px;
}

.lineaizq{
    border-width:4px;
    width: 50%;
    margin: 10px;  
}

.lineader{
    border-width:4px;
    width: 50%;
    margin: 5px;
}

.caja1 {
    background-color: rgb(245, 238, 244);
}

.caja2 {
    background-color: rgb(250, 245, 243);
}

.caja3{
    background-color: rgb(236, 246, 245);
}

.cajaFooter1,.cajaFooter2,.cajaFooter3,.cajaFooter4{
    padding: 8px;
    box-sizing: border-box;
    color: white;
    font-size: 10px;
}

ul{
    list-style: none;
    text-align: left;
    color: white;
    font-family: "Roboto", sans-serif;
}

h4 {
    font-size: 10px;
    color: black;
}

.titulitos{
    font-size: 25px;
    color: rgb(125, 125, 125);
    font-family: "Roboto", sans-serif;
}

.titulito3 {
    font-size: 10px;
    color: black;
    font-family: "Roboto", sans-serif;
}

img{
    width: 170px;
    height: 170px;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 220px;
    background-color: black; 
    color: white; 
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "caja1 caja2 caja3 caja4"; 
}

.cajaSup{
    grid-area: header;
}

.cajaFooter1{
    grid-area: caja1;
}

.cajaFooter2{
    grid-area: caja2;
}

.cajaFooter3{
    grid-area: caja3;
}

.cajaFooter4{
    grid-area: caja4;
}

#texto-footer{
    color: white;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1256px){
    .wrapper{
        width: 100%;
    }

    .encabezado,.cajaRoja,img{
        display: block;
    }

    .lineaizq,.lineader{
        padding-left: 16px;
    }

    img{
        display: inline-block;
        justify-items: center;
        align-items: center;
    }

    .foto{
        text-align: center;
    }

    footer{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "header header"
        "caja1 caja2"
        "caja3 caja4";
    }
}
